#terminal {
    background-image: url("../images/terminal.png");
    background-repeat: no-repeat;
    background-size: contain;
    /*background-size: cover;*/
    border-radius: 5.5px 5.5px;
    width: 100%;
}
